In [8]:
import findspark
findspark.init('/home/ubuntu/spark-2.1.1-bin-hadoop2.7')
import pyspark
from pyspark.sql import SparkSession
import pyspark.sql.functions as SparkFunctions
from pyspark.sql.types import IntegerType
from pyspark.sql.types import FloatType
from pyspark.sql.types import StringType
from pyspark.sql import Window
import sys
spark = SparkSession.builder.appName('housing').getOrCreate()
import pandas
import matplotlib.pyplot as plot

income_data = spark.read.format("csv").options(header="true").load("datasets/income_data.csv")
income_data.show()
income_data = income_data.withColumn("income_year", income_data["income_year"].cast(IntegerType()))
income_data = income_data.withColumn("income_regions", income_data["income_regions"].cast(StringType()))
income_data = income_data.withColumn("income_age_group", income_data["income_age_group"].cast(StringType()))
income_data = income_data.withColumn("income_value", income_data["income_value"].cast(FloatType()))
income_data.printSchema()
income_data.columns
income_data.describe().show()
income_data.select("income_year").distinct().show()
income_data.select("income_regions").distinct().show()
income_data.select("income_age_group").distinct().show()

expenditure_data = spark.read.format("csv").options(header="true").load("datasets/expenditure_data.csv")
expenditure_data.show()
expenditure_data = expenditure_data.withColumn("expenditure_year", expenditure_data["expenditure_year"].cast(IntegerType()))
expenditure_data = expenditure_data.withColumn("expenditure_regions", expenditure_data["expenditure_regions"].cast(StringType()))
expenditure_data = expenditure_data.withColumn("expenditure_category", expenditure_data["expenditure_category"].cast(StringType()))
expenditure_data = expenditure_data.withColumn("expenditure_value", expenditure_data["expenditure_value"].cast(FloatType()))
expenditure_data.printSchema()
expenditure_data.columns
expenditure_data.describe().show()
expenditure_data.select("expenditure_year").distinct().show()
expenditure_data.select("expenditure_regions").distinct().show()
expenditure_data.select("expenditure_category").distinct().show()

sales_data = spark.read.format("csv").options(header="true").load("datasets/sales_data.csv")
sales_data.show()
sales_data = sales_data.withColumn("sale_year", sales_data["sale_year"].cast(IntegerType()))
sales_data = sales_data.withColumn("sale_region", sales_data["sale_region"].cast(StringType()))
sales_data = sales_data.withColumn("gross_sale_price", sales_data["gross_sale_price"].cast(FloatType()))
sales_data.printSchema()
sales_data.columns
sales_data.describe().show()

cpi_data = spark.read.format("csv").options(header="true").load("datasets/cpi_data.csv")
cpi_data.show()
cpi_data = cpi_data.withColumn("cpi_year", cpi_data["cpi_year"].cast(IntegerType()))
cpi_data = cpi_data.withColumn("cpi_quarter_01", cpi_data["cpi_quarter_01"].cast(FloatType()))
cpi_data = cpi_data.withColumn("cpi_quarter_02", cpi_data["cpi_quarter_02"].cast(FloatType()))
cpi_data = cpi_data.withColumn("cpi_quarter_03", cpi_data["cpi_quarter_03"].cast(FloatType()))
cpi_data = cpi_data.withColumn("cpi_quarter_04", cpi_data["cpi_quarter_04"].cast(FloatType()))
cpi_data.printSchema()
cpi_data.columns
cpi_data.describe().show()
cpi_data.select("cpi_series_id").distinct().show()
cpi_data.select("cpi_year").distinct().show()

hpi_data = spark.read.format("csv").options(header="true").load("datasets/hpi_data.csv")
#hpi_data.show()
hpi_data = hpi_data.withColumn("hpi_year", hpi_data["hpi_year"].cast(IntegerType()))
hpi_data = hpi_data.withColumn("hpi_quarter_01", hpi_data["hpi_quarter_01"].cast(FloatType()))
hpi_data = hpi_data.withColumn("hpi_quarter_02", hpi_data["hpi_quarter_02"].cast(FloatType()))
hpi_data = hpi_data.withColumn("hpi_quarter_03", hpi_data["hpi_quarter_03"].cast(FloatType()))
hpi_data = hpi_data.withColumn("hpi_quarter_04", hpi_data["hpi_quarter_04"].cast(FloatType()))
hpi_data.printSchema()
hpi_data.columns
hpi_data.describe().show()
hpi_data.select("hpi_series_id").distinct().show()
hpi_data.select("hpi_year").distinct().show()

def spark_dataframe_shape(dataFrame):
    return (dataFrame.count(), len(dataFrame.columns))
pyspark.sql.dataframe.DataFrame.shape = spark_dataframe_shape
print(income_data.shape())
print(expenditure_data.shape())
print(sales_data.shape())
print(cpi_data.shape())
print(hpi_data.shape())

# INCOME DATA PREPARATION
income_data = income_data.filter("income_age_group == '20 to 24' OR income_age_group == '25 to 29' OR income_age_group == '30 to 34'" )
income_data.select("income_age_group").distinct().show()
income_data.select([SparkFunctions.count(SparkFunctions.when(SparkFunctions.col(c).isNull(), c)).alias(c) for c in income_data.columns]).show()
income_data = income_data.filter(income_data.income_value.isNotNull())
income_data.select([SparkFunctions.count(SparkFunctions.when(SparkFunctions.col(c).isNull(), c)).alias(c) for c in income_data.columns]).show()
income_data.show()

# Assign and add age group code  
income_data = income_data.withColumn("age_group_code", 
                             SparkFunctions.when((SparkFunctions.col("income_age_group") == "20 to 24"), 1)
                                                         .when((SparkFunctions.col("income_age_group") == "25 to 29"), 2)
                                                         .otherwise(3))
income_data.select("age_group_code").distinct().show()
# Assign and add region code  
income_data = income_data.withColumn("income_region_code", 
                             SparkFunctions.when((SparkFunctions.col("income_regions") == "Northland Region"), "r002")
                                                         .when((SparkFunctions.col("income_regions") == "Auckland Region"), "r001")
                                                         .when((SparkFunctions.col("income_regions") == "Waikato Region"), "r002")
                                                         .when((SparkFunctions.col("income_regions") == "Bay of Plenty Region"), "r002")
                                                         .when((SparkFunctions.col("income_regions") == "Gisborne/Hawkes Bay Regions"), "r002")
                                                         .when((SparkFunctions.col("income_regions") == "Taranaki Region"), "r002")
                                                         .when((SparkFunctions.col("income_regions") == "Manawatu-Wanganui Region"), "r002")
                                                         .when((SparkFunctions.col("income_regions") == "Wellington Region"), "r003")
                                                         .when((SparkFunctions.col("income_regions") == "Nelson/Tasman/Marlborough/West Coast Regions"), "r005")
                                                         .when((SparkFunctions.col("income_regions") == "Canterbury Region"), "r004")
                                                         .when((SparkFunctions.col("income_regions") == "Otago Region"), "r005")
                                                         .when((SparkFunctions.col("income_regions") == "Southland Region"), "r005")
                                                         .otherwise("r000"))
income_data.select("income_region_code").distinct().show()
income_data = income_data.drop("income_regions")
income_data.show(5)
income_data =  income_data.groupBy("income_region_code", "age_group_code", "income_year").mean("income_value")
income_data.show(5)
# EXPENDITURE DATA PREPARATION
expenditure_data.select([SparkFunctions.count(SparkFunctions.when(SparkFunctions.col(c).isNull(), c)).alias(c) for c in expenditure_data.columns]).show()
expenditure_data = expenditure_data.filter("expenditure_category == 'Total'" )
expenditure_data.select("expenditure_category").distinct().show()
expenditure_data = expenditure_data.withColumn("expenditure_per_person", SparkFunctions.col("expenditure_value") / 3)
expenditure_data.show(5)
expenditure_data = expenditure_data.drop("expenditure_category", "expenditure_value")
expenditure_data.show()
# Assign and add region code  
expenditure_data = expenditure_data.withColumn("expenditure_region_code", 
                             SparkFunctions.when((SparkFunctions.col("expenditure_regions") == "Auckland"), "r001")
                                                         .when((SparkFunctions.col("expenditure_regions") == "Rest of North Island"), "r002")
                                                         .when((SparkFunctions.col("expenditure_regions") == "Wellington"), "r003")
                                                         .when((SparkFunctions.col("expenditure_regions") == "Canterbury"), "r004")
                                                         .when((SparkFunctions.col("expenditure_regions") == "Rest of South Island"), "r005")
                                                         .otherwise("r000"))
expenditure_data.select("expenditure_region_code").distinct().show()
income_data.show()
income_data = income_data.withColumnRenamed("income_region_code", "income_region_code")
income_data = income_data.withColumnRenamed("age_group_code", "age_group_code")
income_data = income_data.withColumnRenamed("income_year", "income_year")
income_data = income_data.withColumnRenamed("avg(income_value)", "average_weekly_income")
income_data.printSchema()


income_data_outliers = income_data.select("average_weekly_income")

bounds = {
    c: dict(
        zip(["q1", "q3"], income_data_outliers.approxQuantile(c, [0.25, 0.75], 0))
    )
    for c in income_data_outliers.columns
}
for c in bounds:
    iqr = bounds[c]['q3'] - bounds[c]['q1']
    bounds[c]['lower'] = bounds[c]['q1'] - (iqr * 1.5)
    bounds[c]['upper'] = bounds[c]['q3'] + (iqr * 1.5)
print(bounds)



expenditure_data = expenditure_data.withColumnRenamed("expenditure_regions", "expenditure_regions")
expenditure_data = expenditure_data.withColumnRenamed("expenditure_region_code", "expenditure_region_code")
expenditure_data = expenditure_data.withColumnRenamed("expenditure_per_person", "expenditure_per_person")
expenditure_data = expenditure_data.withColumnRenamed("expenditure_year", "expenditure_year")
expenditure_data.printSchema()

expenditure_data_outliers = expenditure_data.select("expenditure_per_person")

bounds = {
    c: dict(
        zip(["q1", "q3"], expenditure_data_outliers.approxQuantile(c, [0.25, 0.75], 0))
    )
    for c in expenditure_data_outliers.columns
}
for c in bounds:
    iqr = bounds[c]['q3'] - bounds[c]['q1']
    bounds[c]['lower'] = bounds[c]['q1'] - (iqr * 1.5)
    bounds[c]['upper'] = bounds[c]['q3'] + (iqr * 1.5)
print(bounds)

# MERGE INCOME + EXPENDITURE
merge_income_expenditure = income_data.join(expenditure_data, (income_data.income_region_code == expenditure_data.expenditure_region_code) & (income_data.income_year == expenditure_data.expenditure_year))
merge_income_expenditure.show(5)
merge_income_expenditure = merge_income_expenditure.drop("expenditure_region_code", "income_year")
merge_income_expenditure.show(5)
# SALES DATA PREPARATION
sales_data.select([SparkFunctions.count(SparkFunctions.when(SparkFunctions.col(c).isNull(), c)).alias(c) for c in sales_data.columns]).show()
sales_data = sales_data.drop("sales_qv_id", 
                                                  "sale_id", 
                                                  "sales_city", 
                                                  "sale_region_id", 
                                                  "sale_date", 
                                                  "net_sale_price", 
                                                  "capital_value", 
                                                  "land_value", 
                                                  "improvement_value", 
                                                  "house_age")
sales_data.show(5)
# Assign and add region code  
sales_data = sales_data.withColumn("sales_region_code", 
                             SparkFunctions.when((SparkFunctions.col("sale_region") == "Auckland (Unitary)"), "r001")
                                                         .when((SparkFunctions.col("sale_region") == "Bay of Plenty Region"), "r002")
                                                         .when((SparkFunctions.col("sale_region") == "Gisborne (Unitary)"), "r002")
                                                         .when((SparkFunctions.col("sale_region") == "Hawkes Bay Region"), "r002")
                                                         .when((SparkFunctions.col("sale_region") == "Manawatu-Whanganui Region"), "r002")
                                                         .when((SparkFunctions.col("sale_region") == "Northland Region"), "r002")
                                                         .when((SparkFunctions.col("sale_region") == "Taranaki Region"), "r002")
                                                         .when((SparkFunctions.col("sale_region") == "Waikato Region"), "r002")
                                                         .when((SparkFunctions.col("sale_region") == "Wellington Region"), "r003")
                                                         .when((SparkFunctions.col("sale_region") == "Canterbury Region"), "r004")
                                                         .when((SparkFunctions.col("sale_region") == "Tasman Nelson Marlborough"), "r005")
                                                         .when((SparkFunctions.col("sale_region") == "West Coast Region"), "r005")
                                                         .otherwise("r000"))
sales_data.select("sales_region_code").distinct().show()
sales_data = sales_data.drop("sale_region")
sales_data =  sales_data.groupBy("sale_year", "sales_region_code").mean("gross_sale_price")
sales_data.show(5)
sales_data = sales_data.withColumnRenamed("sale_year", "sale_year")
sales_data = sales_data.withColumnRenamed("sales_region_code", "sales_region_code")
sales_data = sales_data.withColumnRenamed("avg(gross_sale_price)", "average_sale_price")
sales_data.printSchema()

sales_data_outliers = sales_data.select("average_sale_price")

bounds = {
    c: dict(
        zip(["q1", "q3"], sales_data_outliers.approxQuantile(c, [0.25, 0.75], 0))
    )
    for c in sales_data_outliers.columns
}
for c in bounds:
    iqr = bounds[c]['q3'] - bounds[c]['q1']
    bounds[c]['lower'] = bounds[c]['q1'] - (iqr * 1.5)
    bounds[c]['upper'] = bounds[c]['q3'] + (iqr * 1.5)
print(bounds)


# MERGE INCOME + EXPENDITURE + SALES DATA
merge_income_expenditure_sales = merge_income_expenditure.join(sales_data, (merge_income_expenditure.income_region_code == sales_data.sales_region_code) & (merge_income_expenditure.expenditure_year == sales_data.sale_year))
merge_income_expenditure_sales.show(5)
# HOUSE PRICE INDEX DATA PREPARATION
hpi_data.select([SparkFunctions.count(SparkFunctions.when(SparkFunctions.col(c).isNull(), c)).alias(c) for c in hpi_data.columns]).show()
hpi_data.show(30)
hpi_data = hpi_data.drop("hpi_series_id")
hpi_data.printSchema()
hpi_data.select([SparkFunctions.count(SparkFunctions.when(SparkFunctions.col(c).isNull(), c)).alias(c) for c in hpi_data.columns]).show()
hpi_data = hpi_data.na.fill(value=2740.3,subset=["hpi_quarter_04"])
hpi_data.select([SparkFunctions.count(SparkFunctions.when(SparkFunctions.col(c).isNull(), c)).alias(c) for c in hpi_data.columns]).show()
hpi_data = hpi_data.withColumn("annual_hpi", ((SparkFunctions.col("hpi_quarter_01")) + (SparkFunctions.col("hpi_quarter_02")) + (SparkFunctions.col("hpi_quarter_03")) + (SparkFunctions.col("hpi_quarter_04"))) / 4)
hpi_data.show(30)
hpi_data = hpi_data.drop("hpi_series_id", "hpi_quarter_01", "hpi_quarter_02", "hpi_quarter_03", "hpi_quarter_04")
hpi_data.show(30)


hpi_data_outliers = hpi_data.select("annual_hpi")

bounds = {
    c: dict(
        zip(["q1", "q3"], hpi_data_outliers.approxQuantile(c, [0.25, 0.75], 0))
    )
    for c in hpi_data_outliers.columns
}
for c in bounds:
    iqr = bounds[c]['q3'] - bounds[c]['q1']
    bounds[c]['lower'] = bounds[c]['q1'] - (iqr * 1.5)
    bounds[c]['upper'] = bounds[c]['q3'] + (iqr * 1.5)
print(bounds)

# CONSUMER PRICE INDEX DATA PREPARATION
cpi_data.select([SparkFunctions.count(SparkFunctions.when(SparkFunctions.col(c).isNull(), c)).alias(c) for c in cpi_data.columns]).show()
cpi_data.show(30)
cpi_data = cpi_data.drop("cpi_series_id")
cpi_data.printSchema()
cpi_data = cpi_data.withColumn("annual_cpi", ((SparkFunctions.col("cpi_quarter_01")) + (SparkFunctions.col("cpi_quarter_02")) + (SparkFunctions.col("cpi_quarter_03")) + (SparkFunctions.col("cpi_quarter_04"))) / 4)
cpi_data.show(5)
cpi_data = cpi_data.drop("cpi_series_id", "cpi_quarter_01", "cpi_quarter_02", "cpi_quarter_03", "cpi_quarter_04")
cpi_data.show(30)


cpi_data_outliers = cpi_data.select("annual_cpi")

bounds = {
    c: dict(
        zip(["q1", "q3"], cpi_data_outliers.approxQuantile(c, [0.25, 0.75], 0))
    )
    for c in cpi_data_outliers.columns
}
for c in bounds:
    iqr = bounds[c]['q3'] - bounds[c]['q1']
    bounds[c]['lower'] = bounds[c]['q1'] - (iqr * 1.5)
    bounds[c]['upper'] = bounds[c]['q3'] + (iqr * 1.5)
print(bounds)


# MERGE HPI + CPI
merge_hpi_cpi = hpi_data.join(cpi_data, (hpi_data.hpi_year == cpi_data.cpi_year))
merge_hpi_cpi.show(30)
# MERGE ALL DATA
cleaned_data = merge_income_expenditure_sales.join(merge_hpi_cpi, (merge_income_expenditure_sales.expenditure_year == merge_hpi_cpi.hpi_year))
cleaned_data.show(5)
cleaned_data = cleaned_data.drop("hpi_year", "cpi_year", "sale_year", "sales_region_code")
cleaned_data.show(5)
cleaned_data = cleaned_data.withColumn("annual_income", SparkFunctions.col("average_weekly_income") * 52)                                     
cleaned_data = cleaned_data.withColumn("annual_expenditure", SparkFunctions.col("expenditure_per_person") * 52)
cleaned_data.show(5)
cleaned_data = cleaned_data.withColumn("annual_savings", ((SparkFunctions.col("annual_income")) - (SparkFunctions.col("annual_expenditure"))))
cleaned_data.show(5)
cleaned_data = cleaned_data.withColumn("downpayment_capacity", SparkFunctions.col("annual_savings") * 3)
cleaned_data.show(5)
cleaned_data = cleaned_data.withColumn("loan_to_value_ratio", SparkFunctions.col("average_sale_price") / 10)
cleaned_data.show(5)
cleaned_data = cleaned_data.withColumn("remainder", (SparkFunctions.col("downpayment_capacity") / SparkFunctions.col("loan_to_value_ratio")))
cleaned_data = cleaned_data.withColumn("percent", (SparkFunctions.col("remainder") * 100))
cleaned_data.select("percent").show(5)
cleaned_data.printSchema()
cleaned_data = cleaned_data.withColumn("affordability", 
                             SparkFunctions.when((SparkFunctions.col("percent") <= 20), 1)
                                                         .when(((SparkFunctions.col("percent") > 20) & (SparkFunctions.col("percent") <= 40)), 2)
                                                         .when(((SparkFunctions.col("percent") > 40) & (SparkFunctions.col("percent") <= 60)), 3)
                                                         .when(((SparkFunctions.col("percent") > 60) & (SparkFunctions.col("percent") <= 80)), 4)
                                                         .when(((SparkFunctions.col("percent") > 80) & (SparkFunctions.col("percent") <= 100)), 5)
                                                         .when((SparkFunctions.col("percent") > 100), 6)
                                                         .otherwise("0"))
cleaned_data.select("percent", "affordability").show(5)
cleaned_data = cleaned_data.drop( "annual_income", "annual_expenditure")
cleaned_data = cleaned_data.select("expenditure_year", 
                                                            "income_region_code",
                                                            "expenditure_regions",
                                                            "age_group_code",
                                                            "average_weekly_income",
                                                            "expenditure_per_person",
                                                            "average_sale_price",
                                                            "annual_hpi",
                                                            "annual_cpi",
                                                            "annual_savings",
                                                            "downpayment_capacity",
                                                            "loan_to_value_ratio",
                                                            "affordability")
cleaned_data.show(5)


cleaned_data = cleaned_data.withColumnRenamed("expenditure_year", "year")
cleaned_data = cleaned_data.withColumnRenamed("income_region_code", "region_code")
cleaned_data = cleaned_data.withColumnRenamed("expenditure_regions", "regions")
cleaned_data = cleaned_data.withColumnRenamed("age_group_code", "age_group_code")
cleaned_data = cleaned_data.withColumnRenamed("average_weekly_income", "average_weekly_income")
cleaned_data = cleaned_data.withColumnRenamed("expenditure_per_person", "expenditure_per_person")
cleaned_data = cleaned_data.withColumnRenamed("average_sale_price", "average_sale_price")
cleaned_data = cleaned_data.withColumnRenamed("annual_hpi", "hpi")
cleaned_data = cleaned_data.withColumnRenamed("annual_cpi", "cpi")
cleaned_data = cleaned_data.withColumnRenamed("annual_savings", "annual_savings")
cleaned_data = cleaned_data.withColumnRenamed("downpayment_capacity", "downpayment_capacity")
cleaned_data = cleaned_data.withColumnRenamed("loan_to_value_ratio", "loan_to_value_ratio")
cleaned_data = cleaned_data.withColumnRenamed("affordability", "affordability")
cleaned_data.show(5)
cleaned_data.printSchema()


# EXPORT CSV
cleaned_data.toPandas().to_csv('cleaned_data.csv')

# Refer to 70-30_split_data_mining_models file for model comparisons

+--------------+-----------+----------------+------------+
|income_regions|income_year|income_age_group|income_value|
+--------------+-----------+----------------+------------+
|             0|          0|               0|           1|
+--------------+-----------+----------------+------------+

+--------------+-----------+----------------+------------+
|income_regions|income_year|income_age_group|income_value|
+--------------+-----------+----------------+------------+
|             0|          0|               0|           0|
+--------------+-----------+----------------+------------+

+--------------+
|age_group_code|
+--------------+
|             1|
|             3|
|             2|
+--------------+

+------------------+
|income_region_code|
+------------------+
|              r002|
|              r001|
|              r003|
|              r004|
|              r005|
+------------------+

+-----------+----------------+------------+--------------+------------------+
|income_year|income_age_group|income_value|age_group_code|income_region_code|
+-----------+----------------+------------+--------------+------------------+
|       1998|        20 to 24|       334.0|             1|              r002|
|       2000|        20 to 24|       308.0|             1|              r002|
|       2001|        20 to 24|       412.0|             1|              r002|
|       2002|        20 to 24|       376.0|             1|              r002|
|       2003|        20 to 24|       361.0|             1|              r002|
+-----------+----------------+------------+--------------+------------------+
only showing top 5 rows

+------------------+--------------+-----------+-----------------+
|income_region_code|age_group_code|income_year|avg(income_value)|
+------------------+--------------+-----------+-----------------+
|              r001|             2|       1999|            520.0|
|              r005|             3|       2003|583.6666666666666|
|              r002|             1|       2017|            593.5|
|              r003|             2|       2019|            904.0|
|              r003|             3|       2008|           1020.0|
+------------------+--------------+-----------+-----------------+
only showing top 5 rows

+-------------------+----------------+--------------------+-----------------+
|expenditure_regions|expenditure_year|expenditure_category|expenditure_value|
+-------------------+----------------+--------------------+-----------------+
|                  0|               0|                   0|                0|
+-------------------+----------------+--------------------+-----------------+

+--------------------+
|expenditure_category|
+--------------------+
|               Total|
+--------------------+

+-------------------+----------------+--------------------+-----------------+----------------------+
|expenditure_regions|expenditure_year|expenditure_category|expenditure_value|expenditure_per_person|
+-------------------+----------------+--------------------+-----------------+----------------------+
|           Auckland|            2007|               Total|           1063.7|      354.566650390625|
|           Auckland|            2010|               Total|           1142.6|     380.8666585286458|
|           Auckland|            2013|               Total|           1265.8|      421.933349609375|
|           Auckland|            2016|               Total|           1533.3|     511.1000162760417|
|           Auckland|            2019|               Total|           1548.9|     516.3000081380209|
+-------------------+----------------+--------------------+-----------------+----------------------+
only showing top 5 rows

+--------------------+----------------+----------------------+
| expenditure_regions|expenditure_year|expenditure_per_person|
+--------------------+----------------+----------------------+
|            Auckland|            2007|      354.566650390625|
|            Auckland|            2010|     380.8666585286458|
|            Auckland|            2013|      421.933349609375|
|            Auckland|            2016|     511.1000162760417|
|            Auckland|            2019|     516.3000081380209|
|          Wellington|            2007|     368.8333333333333|
|          Wellington|            2010|     411.3000081380208|
|          Wellington|            2013|     413.8333333333333|
|          Wellington|            2016|     418.3333333333333|
|          Wellington|            2019|      491.566650390625|
|Rest of North Island|            2007|    284.06667073567706|
|Rest of North Island|            2010|     291.5333251953125|
|Rest of North Island|            2013|     326.0333251953125|
|Rest of North Island|            2016|     363.7666829427083|
|Rest of North Island|            2019|     396.6999918619792|
|          Canterbury|            2007|    310.26666259765625|
|          Canterbury|            2010|    334.73333740234375|
|          Canterbury|            2013|     360.2666829427083|
|          Canterbury|            2016|                 395.0|
|          Canterbury|            2019|     441.2333170572917|
+--------------------+----------------+----------------------+
only showing top 20 rows

+-----------------------+
|expenditure_region_code|
+-----------------------+
|                   r002|
|                   r001|
|                   r003|
|                   r004|
|                   r005|
+-----------------------+

+------------------+--------------+-----------+-----------------+
|income_region_code|age_group_code|income_year|avg(income_value)|
+------------------+--------------+-----------+-----------------+
|              r001|             2|       1999|            520.0|
|              r005|             3|       2003|583.6666666666666|
|              r002|             1|       2017|            593.5|
|              r003|             2|       2019|            904.0|
|              r003|             3|       2008|           1020.0|
|              r004|             1|       1999|            328.0|
|              r003|             1|       1999|            361.0|
|              r004|             3|       2017|            945.0|
|              r004|             1|       2009|            432.0|
|              r002|             1|       2008|496.8333333333333|
|              r005|             3|       1998|            435.0|
|              r005|             1|       1999|            301.0|
|              r001|             2|       2010|            638.0|
|              r003|             2|       1999|            540.0|
|              r001|             3|       2017|            963.0|
|              r002|             1|       2015|533.8333333333334|
|              r002|             2|       2008|607.1666666666666|
|              r002|             2|       2010|635.3333333333334|
|              r002|             3|       2003|577.6666666666666|
|              r002|             1|       2012|498.8333333333333|
+------------------+--------------+-----------+-----------------+
only showing top 20 rows

root
 |-- income_region_code: string (nullable = false)
 |-- age_group_code: integer (nullable = false)
 |-- income_year: integer (nullable = true)
 |-- average_weekly_income: double (nullable = true)

{'average_weekly_income': {'upper': 1202.6666666666665, 'q3': 766.6666666666666, 'q1': 476.0, 'lower': 40.00000000000006}}
root
 |-- expenditure_regions: string (nullable = true)
 |-- expenditure_year: integer (nullable = true)
 |-- expenditure_per_person: double (nullable = true)
 |-- expenditure_region_code: string (nullable = false)

{'expenditure_per_person': {'upper': 543.7333272298176, 'q3': 418.3333333333333, 'q1': 334.73333740234375, 'lower': 209.3333435058594}}
+-----------+-------+----------+--------------+-----------+---------+---------+--------------+----------------+-------------+----------+-----------------+---------+
|sales_qv_id|sale_id|sales_city|sale_region_id|sale_region|sale_date|sale_year|net_sale_price|gross_sale_price|capital_value|land_value|improvement_value|house_age|
+-----------+-------+----------+--------------+-----------+---------+---------+--------------+----------------+-------------+----------+-----------------+---------+
|          0|      0|         7|             0|          0|        0|        0|             8|               0|            3|         4|                0|     3729|
+-----------+-------+----------+--------------+-----------+---------+---------+--------------+----------------+-------------+----------+-----------------+---------+

+--------------------+---------+----------------+
|         sale_region|sale_year|gross_sale_price|
+--------------------+---------+----------------+
|Bay of Plenty Region|     2007|        356000.0|
|Bay of Plenty Region|     2007|        378000.0|
|Bay of Plenty Region|     2007|        436500.0|
|   Hawkes Bay Region|     2007|        250000.0|
|     Taranaki Region|     2007|        170000.0|
+--------------------+---------+----------------+
only showing top 5 rows

+-----------------+
|sales_region_code|
+-----------------+
|             r002|
|             r001|
|             r003|
|             r004|
|             r005|
+-----------------+

+---------+-----------------+---------------------+
|sale_year|sales_region_code|avg(gross_sale_price)|
+---------+-----------------+---------------------+
|     2010|             r005|   345598.64387917327|
|     2010|             r004|   329218.27931034483|
|     2014|             r002|    314156.8007335681|
|     2016|             r002|   364626.93061757897|
|     2007|             r004|    331251.7724867725|
+---------+-----------------+---------------------+
only showing top 5 rows

root
 |-- sale_year: integer (nullable = true)
 |-- sales_region_code: string (nullable = false)
 |-- average_sale_price: double (nullable = true)

{'average_sale_price': {'upper': 850819.0894790316, 'q3': 539228.9590792839, 'q1': 331502.20547945204, 'lower': 19912.075079704286}}
+-------------+--------+--------------+--------------+--------------+--------------+
|hpi_series_id|hpi_year|hpi_quarter_01|hpi_quarter_02|hpi_quarter_03|hpi_quarter_04|
+-------------+--------+--------------+--------------+--------------+--------------+
|            0|       0|             0|             0|             0|             1|
+-------------+--------+--------------+--------------+--------------+--------------+

+-------------+--------+--------------+--------------+--------------+--------------+
|hpi_series_id|hpi_year|hpi_quarter_01|hpi_quarter_02|hpi_quarter_03|hpi_quarter_04|
+-------------+--------+--------------+--------------+--------------+--------------+
|      1/03/00|    2000|         704.7|         697.7|         697.1|         696.6|
|      1/03/01|    2001|         701.1|         699.5|         705.9|         717.9|
|      1/03/02|    2002|         736.8|         751.9|         773.5|         800.6|
|      1/03/03|    2003|         842.4|         871.1|         937.6|        1000.0|
|      1/03/04|    2004|        1041.1|        1066.1|        1090.9|        1124.9|
|      1/03/05|    2005|        1180.0|        1214.4|        1250.7|        1299.9|
|      1/03/06|    2006|        1324.0|        1336.8|        1369.9|        1418.3|
|      1/03/07|    2007|        1479.2|        1520.0|        1525.7|        1531.1|
|      1/03/08|    2008|        1521.3|        1452.9|        1422.7|        1394.8|
|      1/03/09|    2009|        1382.9|        1406.6|        1437.7|        1467.8|
|      1/03/10|    2010|        1469.4|        1454.7|        1445.1|        1444.1|
|      1/03/11|    2011|        1447.1|        1452.4|        1473.6|        1477.5|
|      1/03/12|    2012|        1493.4|        1510.4|        1540.6|        1572.4|
|      1/03/13|    2013|        1608.8|        1645.0|        1697.0|        1714.9|
|      1/03/14|    2014|        1734.1|        1749.1|        1778.5|        1834.8|
|      1/03/15|    2015|        1891.5|        1956.1|        2045.2|        2059.6|
|      1/03/16|    2016|        2135.6|        2248.8|        2333.3|        2355.0|
|      1/03/17|    2017|        2391.1|        2394.8|        2421.9|        2448.9|
|      1/03/18|    2018|        2480.9|        2480.9|        2494.8|        2517.2|
|      1/03/19|    2019|        2525.7|        2517.8|        2565.2|        2632.6|
|      1/03/20|    2020|        2722.1|        2688.8|        2740.3|          null|
+-------------+--------+--------------+--------------+--------------+--------------+

root
 |-- hpi_year: integer (nullable = true)
 |-- hpi_quarter_01: float (nullable = true)
 |-- hpi_quarter_02: float (nullable = true)
 |-- hpi_quarter_03: float (nullable = true)
 |-- hpi_quarter_04: float (nullable = true)

+--------+--------------+--------------+--------------+--------------+
|hpi_year|hpi_quarter_01|hpi_quarter_02|hpi_quarter_03|hpi_quarter_04|
+--------+--------------+--------------+--------------+--------------+
|       0|             0|             0|             0|             1|
+--------+--------------+--------------+--------------+--------------+

+--------+--------------+--------------+--------------+--------------+
|hpi_year|hpi_quarter_01|hpi_quarter_02|hpi_quarter_03|hpi_quarter_04|
+--------+--------------+--------------+--------------+--------------+
|       0|             0|             0|             0|             0|
+--------+--------------+--------------+--------------+--------------+

+--------+--------------+--------------+--------------+--------------+------------------+
|hpi_year|hpi_quarter_01|hpi_quarter_02|hpi_quarter_03|hpi_quarter_04|        annual_hpi|
+--------+--------------+--------------+--------------+--------------+------------------+
|    2000|         704.7|         697.7|         697.1|         696.6| 699.0250244140625|
|    2001|         701.1|         699.5|         705.9|         717.9| 706.0999755859375|
|    2002|         736.8|         751.9|         773.5|         800.6|  765.699951171875|
|    2003|         842.4|         871.1|         937.6|        1000.0| 912.7750244140625|
|    2004|        1041.1|        1066.1|        1090.9|        1124.9|           1080.75|
|    2005|        1180.0|        1214.4|        1250.7|        1299.9|           1236.25|
|    2006|        1324.0|        1336.8|        1369.9|        1418.3|           1362.25|
|    2007|        1479.2|        1520.0|        1525.7|        1531.1|            1514.0|
|    2008|        1521.3|        1452.9|        1422.7|        1394.8| 1447.925048828125|
|    2009|        1382.9|        1406.6|        1437.7|        1467.8|           1423.75|
|    2010|        1469.4|        1454.7|        1445.1|        1444.1|1453.3250732421875|
|    2011|        1447.1|        1452.4|        1473.6|        1477.5|1462.6500244140625|
|    2012|        1493.4|        1510.4|        1540.6|        1572.4| 1529.199951171875|
|    2013|        1608.8|        1645.0|        1697.0|        1714.9|1666.4249267578125|
|    2014|        1734.1|        1749.1|        1778.5|        1834.8|          1774.125|
|    2015|        1891.5|        1956.1|        2045.2|        2059.6|1988.0999755859375|
|    2016|        2135.6|        2248.8|        2333.3|        2355.0| 2268.175048828125|
|    2017|        2391.1|        2394.8|        2421.9|        2448.9| 2414.175048828125|
|    2018|        2480.9|        2480.9|        2494.8|        2517.2| 2493.449951171875|
|    2019|        2525.7|        2517.8|        2565.2|        2632.6|   2560.3251953125|
|    2020|        2722.1|        2688.8|        2740.3|        2740.3|          2722.875|
+--------+--------------+--------------+--------------+--------------+------------------+

+--------+------------------+
|hpi_year|        annual_hpi|
+--------+------------------+
|    2000| 699.0250244140625|
|    2001| 706.0999755859375|
|    2002|  765.699951171875|
|    2003| 912.7750244140625|
|    2004|           1080.75|
|    2005|           1236.25|
|    2006|           1362.25|
|    2007|            1514.0|
|    2008| 1447.925048828125|
|    2009|           1423.75|
|    2010|1453.3250732421875|
|    2011|1462.6500244140625|
|    2012| 1529.199951171875|
|    2013|1666.4249267578125|
|    2014|          1774.125|
|    2015|1988.0999755859375|
|    2016| 2268.175048828125|
|    2017| 2414.175048828125|
|    2018| 2493.449951171875|
|    2019|   2560.3251953125|
|    2020|          2722.875|
+--------+------------------+

{'annual_hpi': {'upper': 3627.0626220703125, 'q3': 2268.175048828125, 'q1': 1362.25, 'lower': 3.3624267578125}}
+-------------+--------+--------------+--------------+--------------+--------------+
|cpi_series_id|cpi_year|cpi_quarter_01|cpi_quarter_02|cpi_quarter_03|cpi_quarter_04|
+-------------+--------+--------------+--------------+--------------+--------------+
|            0|       0|             0|             0|             0|             0|
+-------------+--------+--------------+--------------+--------------+--------------+

+-------------+--------+--------------+--------------+--------------+--------------+
|cpi_series_id|cpi_year|cpi_quarter_01|cpi_quarter_02|cpi_quarter_03|cpi_quarter_04|
+-------------+--------+--------------+--------------+--------------+--------------+
|     31/03/88|    1988|         516.0|         520.0|         524.0|         531.0|
|     31/03/89|    1989|         536.0|         543.0|         562.0|         569.0|
|     31/03/90|    1990|         574.0|         584.0|         590.0|         596.0|
|     31/03/91|    1991|         600.0|         601.0|         603.0|         602.0|
|     31/03/92|    1992|         605.0|         606.0|         609.0|         610.0|
|     31/03/93|    1993|         611.0|         614.0|         618.0|         619.0|
|     31/03/94|    1994|         619.0|         621.0|         628.0|         636.0|
|     31/03/95|    1995|         643.0|         650.0|         651.0|         654.0|
|     31/03/96|    1996|         658.0|         663.0|         666.0|         671.0|
|     31/03/97|    1997|         669.0|         670.0|         673.0|         677.0|
|     31/03/98|    1998|         678.0|         681.0|         685.0|         679.0|
|     31/03/99|    1999|         677.0|         679.0|         681.0|         683.0|
|     31/03/00|    2000|         687.0|         692.0|         702.0|         710.0|
|     31/03/01|    2001|         708.0|         715.0|         719.0|         723.0|
|     31/03/02|    2002|         727.0|         734.0|         738.0|         742.0|
|     31/03/03|    2003|         745.0|         745.0|         748.0|         754.0|
|     31/03/04|    2004|         757.0|         763.0|         767.0|         774.0|
|     31/03/05|    2005|         778.0|         784.0|         793.0|         799.0|
|     31/03/06|    2006|         803.0|         816.0|         821.0|         820.0|
|     31/03/07|    2007|         824.0|         832.0|         836.0|         846.0|
|     31/03/08|    2008|         852.0|         865.0|         878.0|         874.0|
|     31/03/09|    2009|         877.0|         882.0|         893.0|         892.0|
|     31/03/10|    2010|         895.0|         896.0|         906.0|         927.0|
|     31/03/11|    2011|         935.0|         944.0|         948.0|         945.0|
|     31/03/12|    2012|         949.0|         953.0|         955.0|         954.0|
|     31/03/13|    2013|         958.0|         959.0|         968.0|         969.0|
|     31/03/14|    2014|         972.0|         975.0|         978.0|         976.0|
|     31/03/15|    2015|         975.0|         979.0|         982.0|         977.0|
|     31/03/16|    2016|         979.0|         983.0|         986.0|         990.0|
|     31/03/17|    2017|        1000.0|        1000.0|        1005.0|        1006.0|
+-------------+--------+--------------+--------------+--------------+--------------+
only showing top 30 rows

root
 |-- cpi_year: integer (nullable = true)
 |-- cpi_quarter_01: float (nullable = true)
 |-- cpi_quarter_02: float (nullable = true)
 |-- cpi_quarter_03: float (nullable = true)
 |-- cpi_quarter_04: float (nullable = true)

+--------+--------------+--------------+--------------+--------------+----------+
|cpi_year|cpi_quarter_01|cpi_quarter_02|cpi_quarter_03|cpi_quarter_04|annual_cpi|
+--------+--------------+--------------+--------------+--------------+----------+
|    1988|         516.0|         520.0|         524.0|         531.0|    522.75|
|    1989|         536.0|         543.0|         562.0|         569.0|     552.5|
|    1990|         574.0|         584.0|         590.0|         596.0|     586.0|
|    1991|         600.0|         601.0|         603.0|         602.0|     601.5|
|    1992|         605.0|         606.0|         609.0|         610.0|     607.5|
+--------+--------------+--------------+--------------+--------------+----------+
only showing top 5 rows

+--------+----------+
|cpi_year|annual_cpi|
+--------+----------+
|    1988|    522.75|
|    1989|     552.5|
|    1990|     586.0|
|    1991|     601.5|
|    1992|     607.5|
|    1993|     615.5|
|    1994|     626.0|
|    1995|     649.5|
|    1996|     664.5|
|    1997|    672.25|
|    1998|    680.75|
|    1999|     680.0|
|    2000|    697.75|
|    2001|    716.25|
|    2002|    735.25|
|    2003|     748.0|
|    2004|    765.25|
|    2005|     788.5|
|    2006|     815.0|
|    2007|     834.5|
|    2008|    867.25|
|    2009|     886.0|
|    2010|     906.0|
|    2011|     943.0|
|    2012|    952.75|
|    2013|     963.5|
|    2014|    975.25|
|    2015|    978.25|
|    2016|     984.5|
|    2017|   1002.75|
+--------+----------+
only showing top 30 rows

{'annual_cpi': {'upper': 1400.375, 'q3': 963.5, 'q1': 672.25, 'lower': 235.375}}